<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SmartGoldbergEmu.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
    <userSettings>
        <SmartGoldbergEmu.Properties.Settings>
            <setting name="Appid" serializeAs="String">
                <value />
            </setting>
            <setting name="F1State" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="F1Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="F1Size" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </SmartGoldbergEmu.Properties.Settings>
    </userSettings>
</configuration>
